.address__details__item {
  text-align: left;
  padding: 0 20px;
  width: 100%;
  h2 {
    font-size: 13px;
    color: $text;
    text-transform: uppercase;
    letter-spacing: 1.5px;
  }
  p {
    font-size: 26px;
    font-weight: 500;
    padding-top: 10px;
    color: $heavy-text;
    @media screen and (max-width: 800px) {
      font-size: 20px;
      font-weight: 600;
    }
  }
  @media screen and (max-width: 800px) {
    text-align: center;
    margin: auto;
    padding: 10px 0;
  }
}
