.search__container {
  max-width: 550px;
  height: 60px;
  background-color: #fff;
  margin: auto;
  margin-top: 30px;
  border-radius: 17px;
  display: flex;
  input {
    width: 100%;
    padding: 0 25px;
    font-family: inherit;
    font-size: 18px;
    border-radius: 17px;
    border: none;
    outline: none;
    &::placeholder {
      color: $text;
    }
  }
  .button__primary {
    width: 70px;
    border-top-right-radius: 17px;
    border-bottom-right-radius: 17px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: $heavy-text;
    transition: 0.3s all ease-in-out;
    cursor: pointer;
    &:hover {
      opacity: 80%;
    }
  }
}
